:root{
  --violet-00:#f2eff8;
  --violet-0:#ccc7db;
  --violet-1:#7668a6;
  --violet-2:#484065;
  --violet-3:#3b3551;
  --violet-4:#342e46;
  --gray-1:#eeeff3;
  --gray-2:#ecedf1;
  --btn-violet:#888888;
  --btn-red:#bbbbbb;
  --btn-rose:#f1b8be;

  --line-gray:1px solid #cccccc;
}

$bg-largest:75em; //1200px
$bg-large:56.25em; //900px
$bg-medium:43.75em; //700px
$bg-small:25.88em; //414px

*{
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  box-sizing: border-box;
  @media screen and (max-width:$bg-large){
    font-size: 50%;
  } 

}

body {

  background-color: var(--gray-2);
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.footer {
  width: 50px;
  height: 50px;
  margin: 20rem auto;
  padding:10rem;
  background-color: var(--violet-1);
  border-radius: 15px;
}