//TYPO
.u-center-text{text-align: center;}
.u-left-text{text-align: left;}
.u-right-text{text-align: right;}
.u-text-to-upper{text-transform: uppercase;}

//BOXING
.u-margin-t-small{margin-top: 2rem};
.u-margin-t-medium{margin-top: 4rem};

.u-margin-b-small{margin-bottom: 2rem};
.u-margin-b-medium{margin-bottom: 4rem};


.u-padding-t-small{padding-top: 2rem};



.u-bottom-0{bottom:0;}
.u-top-0{top:0;}

//COLOR
.u-color-white{color: white}

//SHADOW
.u-shadow{box-shadow: 0 0 2rem #aaaaaa;}

//REMOVE UNDERLINE
.u-remove-uline{
    text-decoration: none;
}
